.selected {
background-color: #CFD8DC !important;
color: white;
}
.weapons {
margin: 0 0 2em 0;
padding: 40;
width: 15em;
background-color: #A9A9A9;
border-radius: 4px;
}
.weapons ul{
margin: 0;
list-style-type: none;
padding: 0;
width: 15em;
}
.weapons li {
cursor: pointer;
position: relative;
left: 0;
background-color: #EEE;
margin: .9em;
padding: .2em 0;
height: 2.4em;
border-radius: 4px;
}
.weapons li.selected:hover {
background-color: #BBD8DC !important;
color: white;
}
.weapons img {
	width: 40px;
	height: 40px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  position: relative;
  float: right;
  right: 10px
  top: -1px;
	}
.weapons li:hover {
color: #607D8B;
background-color: #DDD;
left: .1em;
}
.weapons .text {
position: relative;
top: -3px;
}
.weapons .badge {
display: inline-block;
font-size: small;
color: white;
padding: 0.8em 0.7em 0 0.7em;
background-color: #A52A2A;
line-height: 1em;
position: relative;
left: -1px;
top: 2px;
height: 2.0em;
margin-right: .8em;
border-radius: 4px 0 0 4px;
}
